.auth-form {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.auth-form .checkbox {
    font-weight: 400;
}

.auth-form .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.auth-form .form-control:focus {
    z-index: 2;
}

.auth-form input {
    margin: 5px;
}
