{% macro render_field(field) %}
    <label for="{{ field.label.field_id }}"
           class="sr-only">{{ field.label.text }}</label>
    {{ field(**kwargs)|safe }}
    {% if field.errors %}
        <ul class=errors>
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

