{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}

{% block title %}
    Alar Studios | Index
{% endblock %}

{% block content %}
    <h1>Hello, {{ current_user.name }}</h1>

    <table class="table table-hover table-bordered table-responsive-lg users">
        <thead>
        <tr>
            <th scope="col">Email</th>
            <th scope="col">Name</th>
            <th scope="col">Is_admin</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr data-uid="{{ user.uid }}">
                <td class="user-email">{{ user.email }}</td>
                <td class="user-name">{{ user.name }}</td>
                <td class="user-is-admin">{{ user.is_admin }}</td>
                <td>
                    <button type="button" class="btn btn-warning edit"
                            {% if not current_user.is_admin %} disabled
                            {% endif %}
                            data-toggle="modal"
                            data-target="#editModal">
                        Edit
                    </button>
                    <button type="button" class="btn btn-danger delete"
                            {% if not current_user.is_admin %} disabled {% endif %}>
                        Delete
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="user-name" class="col-form-label">User name:</label>
                            <input type="text" class="form-control"
                                   id="user-name">
                        </div>
                        <div class="form-group">
                            <label for="user-email" class="col-form-label">User email:</label>
                            <input type="email" class="form-control"
                                      id="user-email">
                        </div>
                        <div class="form-group">
                            <label for="user-is-admin" class="col-form-label">User is_admin:</label>
                            <input type="checkbox" class="form-control"
                                      id="user-is-admin">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-dismiss="modal">Close
                    </button>
                    <button type="button" class="btn btn-primary" id="update-user-btn">
                        Update user
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
