{% extends "base.html" %}

{% from "_formhelpers.html" import render_field %}

{% block head %}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}

{% block title %}
    Alar Studios | Login
{% endblock %}

{% block content %}
    <form class="auth-form" method="post"
          action="{{ url_for('auth.login') }}">

        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

        {{ form.hidden_tag() }}
        {{ render_field(form.email, class="form-control") }}
        {{ render_field(form.password, class="form-control") }}

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me" name="remember_me">
                Remember me
            </label>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">
            Sign in
        </button>

        <p class="mt-5 mb-3 text-muted text-center">&copy; 2019</p>
    </form>
{% endblock %}
