<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Alar Studios</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for("users.index") }}">Users<span class="sr-only">(current)</span></a>
      </li>
    </ul>
      <ul class="navbar-nav mr-sm-2">
          <li class="nav-item">
              <a class="nav-link" href="{{ url_for("auth.login") }}">Sign in</a>
          </li>
          <li class="nav-item">
        <a class="nav-link" href="{{ url_for("auth.signup") }}">Sign up</a>
          </li>
          <li class="nav-item">
        <a class="nav-link" href="{{ url_for("auth.logout") }}">Logout</a>
          </li>
      </ul>

  </div>
</nav>
