{% extends "base.html" %}

{% from "_formhelpers.html" import render_field %}

{% block head %}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}

{% block title %}
    Alar Studios | Signup
{% endblock %}

{% block content %}
    <form class="auth-form" method="post"
          action="{{ url_for('auth.signup') }}">

        <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>

        {{ form.hidden_tag() }}
        {{ render_field(form.email, class="form-control") }}
        {{ render_field(form.name, class="form-control") }}
        {{ render_field(form.password, class="form-control") }}
        {{ render_field(form.repeat_password, class="form-control") }}

        <button class="btn btn-lg btn-primary btn-block" type="submit">
            Sign up
        </button>

        <p class="mt-5 mb-3 text-muted text-center">&copy; 2019</p>
    </form>
{% endblock %}
